# Ignore node_modules directory
node_modules/

# Ignore log files
logs/*.log

# Ignore build output
build/

# Ignore .env files (contains sensitive information)
.env
.env.*

# Ignore any files with a .DS_Store extension
.DS_Store

#
